body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* --------------------------------- navbar css style starts 
                        -------------------------------------------------------*/

.navbar-bg {
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar li {
  padding: 0 2rem;
}

.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover {
  color: red !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

.btn-style {
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.btn-style:first-child {
  margin-right: 2rem;
}

.btn-style:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border {
  border: 0.1rem solid var(--primary-color);
  background-color: rgb(0, 153, 255);
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border:hover {
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
}
.input-group{
  position: relative !important;
}
.input-group-button{
  position: absolute;
  right: 51%;
  top: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  height: 4rem;
  border-radius: 2rem !important;
  width: 15%;
  text-align:center ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.form-control-text{
  position: absolute;
  height: 5rem;
  border: none;
  outline-style: none;
  padding-left: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: lighter;
}

/*
 
NAVBAR ENDS

/*

/*hero main

*/
/* --------------------------------- Hero sEction  starts  
                        -------------------------------------------------------*/
header{
  background-color: var(--bgcolor);
  min-height: 100vh;
  min-width: 100%;
}

.colorchange{
  animation: colorchangeTDOW 2s infinite;
}

 .main-hero-container{
   height: 80vh;
   display: flex  ; 
   /*background-color: aqua;*/
 }

 .main-hero-container h1 {
   text-transform: capitalize;
   font-weight: bolder;
   
 }

 
 .main-hero-para {
   font-size: 1.5rem;
   color: var(--text-color);
   margin: 3 rem 0 5rem 0;
   width: 75%;
   font-weight:  lighter ;
  
  }

  /* .main-herosection-images {
    position: relative;
  }
   */

  .main-hero-container h3 {
    font-weight: lighter;
  
  }
.main-herosection-images img{
  width: 75%;
  /* height: 105%; */
  margin-top: 30rem;
  box-shadow: 0 0.8rem 0.8rem rgba(32, 255, 3, 0.25);
  border-radius: 1.5rem;
  position: relative;

  
}
/* .main-herosection-images .main-hero-img2{
  width: 50%;
  height: 80%;
  position: absolute;
  left: 65%;
  top: -20rem ;
  
  box-shadow: 0.8rem 0 0.8rem rgba(0, 0, 0, 0.25);
} */

/*Hero end*/



.work-container{
  width: 80vw;
  padding: 5rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0 , 0, 0.1);
  background-color: #fff;
  margin-top: -10rem;
  border-radius: 0.5rem ;

}



.work-container .main-heading{
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 4rem;
  word-spacing: rem;

}

.work-container-subdiv{
  padding: 0.6rem;
}

.work-container .sub-heading{
  font-size: 2rem;
  font-weight: normal;
}
.fontawesome-style {
  font-size: 2.3rem;
  color: var(--primary-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--bgcolor);
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem auto;
}

/* --------------------------------- About Us Section STarts  
                        -------------------------------------------------------*/

.common-section {
  margin: 5rem 0;
}




.our-service-leftside-img {
  width: 40%;
  height: 95%;
  margin-top: 25rem;
  box-shadow: rgba(1, 255, 99, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;

}

.our-services .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left ;
  font-size: 1.5rem;
}

.our-services .main-heading {
  font-weight: bolder;
}

.our-services-info {
  margin-top: 4rem;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-services-data {
  padding-left: 2rem;
}

.our-services .our-services-data p {
  margin: 1rem 0;
}

/* 2nd section of about us  */

.our-service-rightside-img{
  width: 40%;
  height: 75%;
  margin-top: 20rem;
  box-shadow: rgba(23, 197, 0, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
 
}

.our-services-rightside {
  margin-top: 10rem;
}

.our-services-rightside-content {
  padding-left: 8rem;
}


.common-section{
  margin: 5rem ;
}

.our-services-rightside-content{
  margin-top: 10rem;
}
.our-services-rightside-content{
  padding-left: 8rem;

}
.our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

/* --------------------------------- Services Section starts  
                        -------------------------------------------------------*/

.service-main-container {
  margin-top: 2rem;
  padding: 5rem 0;
}

.service-main-container .main-heading {
  margin: 3rem 0;
}

.work-container-subdiv {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
}

.work-container-subdiv:hover {
  background-color: var(--bgcolor);
  cursor: pointer;
}

.work-container-subdiv:hover > .fontawesome-style {
  background-color: orange;
}

.work-container-subdiv .main-hero-para {
  width: 100%;
}

.service-main-container .work-container-subdiv .fontawesome-style {
  text-align: left;
  margin: 2rem 0;
}


/* ---------------------------------Contactus Section starts  
                        -------------------------------------------------------*/



.contactus-section{
  margin: 5rem 0;
}
.contact-leftside{
  min-width: 80%;
  max-height: 80rem;
  height: auto;
}



.contact-input-feild{
  margin-bottom: 4rem;

}

.form-control{
  height: 5rem;
  
  
}


.contact-input-feild {
  margin-bottom: 4rem;
  
}

.contact-rightside form .form-control {
  
  border: 1px solid lightsalmon ;
  -webkit-appearance: none;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  font-weight: lighter;
  border-radius: 2rem;
}

.contact-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.form-checkbox-style {
  margin: 4rem 0;
  
}

.contact-rightside form .main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 2rem;
}

/* ---------------------------------Footer Section starts  
                        -------------------------------------------------------*/


footer {
  padding: 5rem 0;
  background-color:#20B2AA;
  color: rgb(0, 153, 255);
}
footer h2{
  color: #fff;
}
footer li{
  list-style: none;
  font-size: 1.7rem;
  font-weight: lighter;
  cursor: pointer;
  margin: 1rem 0;
}


footer li :hover{
  color: rgb(0, 255, 34);
  
  
}

footer .fontawesome-style{
  font-size: 2.3rem;
  color: var(--primary-color);
  background-color: transparent;
  width: 0rem;
  height: 0rem;
  margin: 2rem 0;
  cursor: pointer;
}

footer .fontawesome-style:hover{
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
  color: red;
  
}

.copy{
  font-size: larger;
  color: #000000;
}   

.err{
  padding: 4rem 1.5rem;
  text-align: center;
   font-size: x-large;
  }


.error{
  font-size: 10rem;
  color: red;
}


@keyframes colorchangeTDOW{
  0%{color: aqua;}
  25%{color: violet;}
  50%{color: rgb(0, 255, 34);}
  100%{color: red;}
}


@keyframes rotatefont {
  0%{
    transform: scale(0.6);
  }
  100%{
    transform: scale(1.2);
  }
}



footer.main-hero-para{
  margin: 0%;
  
  
}


@media (min-width: 1400px) {
  .service-container .col-xxl-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .service-container .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}


@media (max-width: 998px) {
  .navbar .navbar-collapse {
    margin-top: 1rem;
    background-color: #fff;
    padding: 2rem 1rem;
  }
}

.input-group .btn-style{
  font-size: 1.2rem;
}

.main-hero-container h1{
  font-size: 2.5rem;
}

.main-hero-para{
  font-size: 1.5rem;
  padding-right: 1rem;
  width: 100%;

}


.main-hero-container .header-left-side{
  padding-left: 4rem;
  margin-top: 1rem;
}


.main-herosection-images{
  position: relative;
  height: 25rem;
}

/* .heeader-right-side img{
  width: 60%;
  height: 100%;
  margin-top: 0rem;
}


.header-right-side .main-hero-img2{
  position: absolute;
  width: 40%;
  height: 35%;
  left: 50%;
  top: -2%;

} */



/* .our-services-list{
  padding-left: 3rem;
  margin-top: 4rem;
}

.our-services-rightside-img{
  text-align: center;
  margin-top: 5rem;
}
 */


